.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 999;  

    .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: lighten($color: $tertiary, $amount: 32);
        border-radius: 0.3em;
        padding: 0;
        width: 30%;
        height: 20em;

        .close {
            height: 30px;
            position: fixed;
            top: 0;
            right: 0;
            padding: 0.7em 1em;
        }

        .info {
            padding: 1.5em 1em;

            .name {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: 2px solid $tertiary;
                border-radius: 0.3em;
                background-color: $secondary;
                margin: 1em 0;

                span {
                    font-size: 0.8em;
                }

                h3 {
                    margin: 0;
                }
            }

            .image{
                width: 100%;
                height: 20vh;

                img {
                    width: 40%;
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }

            .description {
                background-color: $white;
                border-radius: 0.3em;
                border: 2px solid $tertiary;
                margin-top: 1em;
                text-align: center;
                font-size: 0.7em;
                padding: 0.3em;

                p {
                    margin: 0;
                }

                &_types, &_moves, &_stats {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }

                &_types {
                    .types {
                        border: 1px solid $black;
                        border-radius: 0.3em;
                        padding: 0 0.5em;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}


