.collapse {
    background-color: $secondary;
    display: flex;
    height: 3em;
    justify-content: baseline;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    .nav-icon {
        align-items: center;
        display: flex;
        padding: 0.3em 3em;
        width: 100%;

        @include responsive($med) {
            width: 25%;
        }

        img {
            height: 100%;
            margin-right: 0.3em;
        }
    }

    .nav-router {
        display: none;

        @include responsive($med) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45%;
        }
    }

    .nav-router ul{
        display: flex; 
        list-style-type: none;
        margin: 0;
        padding: 0.3em 0;
        width: 100%;
    }

    .nav-router ul li {
        margin: 0 1em;
    }

    .nav-searcher {
        display: none;
        margin-right: 3em;
        
        @include responsive($med) {
            align-items: center;
            display: flex;
            justify-content: end;
            width: 20%;
        }

        form {
            align-items: center;
            display: flex;
            height: 100%;
            width: 100%;

            input {
                height: 40%;
                width: 70%;
            }

            button {
                background-color: transparent;
                border: none;
                height: 100%;
                padding: 0.5em;
                width: 30%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .dropdown {
        align-items: center;
        display: flex;
        right: 0;
        height: 100%;
        padding-right: 1em;
        position: absolute;
        top: 0;

        @include responsive($med) {
            display: none;
        }

        img {
            height: 60%;
        }
    }
}