.normal {
    color: $black;
    background-color: $normal;
}

.fighting {
    color: $black;
    background-color: $fighting;
}

.flying {
    color: $black;
    background-color: $flying;
}

.poison {
    color: $white;
    background-color: $poison;
}

.ground {
    color: $black;
    background-color: $ground;
}

.rock {
    color: $black;
    background-color: $rock;
}

.bug {
    color: $white;
    background-color: $bug;
}

.ghost {
    color: $white;
    background-color: $ghost;
}

.steel {
    color: $black;
    background-color: $steel;
}

.fire {
    color: $white;
    background-color: $fire!important;
}

.water {
    color: $white;
    background-color: $water;
}

.grass {
    color: $white;
    background-color: $grass;
}

.electric {
    color: $black;
    background-color: $electric;
}

.psychic {
    color: $white;
    background-color: $psychic;
}

.ice {
    color: $black;
    background-color: $ice;
}

.dragon {
    color: $white;
    background-color: $dragon;
}

.dark {
    color: $white;
    background-color: $dark;
}

.fairy {
    color: $white;
    background-color: $fairy;
}

.unknown {
    color: $white;
    background-color: $unknown;
}

.shadow {
    color: $white;
    background-color: $shadow;
}