.spin {
    animation-name: spinner;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}