body {
    background-color: $white;
    color: $black;
    font-family: 'DotGothic16', sans-serif;
    /*
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shippori Mincho', serif;
    */
    font-size: 2em;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    width: 100vw;
}