/* Breakpoints */
$xl: 87.5em;  // 4k and hi-res desktop
$lg: 60em;    // 1080 and hi-res laptops
$med: 40em;   // hi-res tablets and low-res laptops
$sm: 28em;    // mobile and low-res tablets
$xs: 20em;    // mobile only

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=DotGothic16&family=Roboto:wght@100;400&family=Shippori+Mincho&display=swap');

/* Colors */
$white: #FCFCFC;
$black: #000000;

$secondary: #67b486;
$tertiary: #5ae291;